html, body {
  margin: 0px;
  padding: 0px;
}

#welcome-section {
  height: 100vh;
  background-color: white;
  text-align: center;
  margin: auto 0;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-family: 'Signika', sans-serif;
  font-size: 45px;
}

h2 {
  font-family: 'Alegreya', serif;
  font-size: 25px;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0px;
  background-color: lightblue;
  width: 100%;
}

a {
  padding: 4px;
}

@media (max-width: 800px) {
  body {
    background-color: lightgrey;
  }
}

#projects {
  margin-top: 600px;
  height: 200px;
  background-color: white;
}

#contacts {
  height: 200px;
  background-color: white;
}
