html, body {
  margin: 0;
  padding: 0;
}

#welcome-section {
  height: 100vh;
  background-color: lightblue;
}

h1, h2 {
  text-align: center;
}

navbar {
  position: fixed;
  top: 0px;
}

@media (max-width: 800px) {
  body {
    background-color: lightblue;
  }
}

#projects {
  padding-top: 500px;
  height: 400px;
  background-color: lightpink;
}

#contacts {
  padding-top: 100px;
  height: 400px;
  background-color: white;
}
