html, body {
  margin: 0px;
  padding: 0px;
}

#welcome-section {
  height: 100vh;
  background-color: lightblue;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-family: 'Signika', sans-serif;
}

h2 {
  font-family: 'Alegreya', serif;
}

navbar {
  position: fixed;
  top: 0px;
}

@media (max-width: 800px) {
  body {
    background-color: lightgrey;
  }
}

#projects {
  display: block;
  height: 200px;
  background-color: lightpink;
}

#contacts {
  display: block;
  height: 200px;
  background-color: white;
}
